<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Company Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
 
</head>
<body>
	<!-- banner -->
	<div class="banner">
        {% include "header.html" %}
		<div class="agileinfo-top-heading">
			<h2>Blog Post</h2>
		</div>
    </div>
   <!--

-->
<div class="ui divider"></div>


<div class="ui  ">
        <img class="ui centered small image" 
src="/store/{{ com.icon }}">
</div>
<div class="ui container">
       
    <h1><p align=center>公司名:{{com.name}}</p></h1>
    <h3><p align=center>公司简介</p></h3>
         <div class="ui segment vertical padded">
             <div style="text-indent:2em;">
                <p ><font size =4 color ="grey">{{com.introduction}}</font></p>
                
                </div>
        </div>
    <h3><p align=center>案例展示</p></h3>
    <!--下面是向左滚动代码-->
<div id="butong_net_left" style="overflow:hidden;width:100%;">
        <table cellpadding="0" cellspacing="0" border="0">
        <tr><td id="butong_net_left1" valign="top" align="center">
        <table cellpadding="2" cellspacing="0" border="0">
        <tr align="center">
            {% for ser in sers %}
        <td>
            <a href="../../single/{{ser.id}}">
                <img src="/store/{{ser.icon}}">
            </a>
        </td>
            {% endfor %}
        </tr>
        </table>
        </td>
        <td id="butong_net_left2" valign="top"></td>
        </tr>
        </table>
        </div>
        <script>
        var speed=10//速度数值越大速度越慢
        butong_net_left2.innerHTML=butong_net_left1.innerHTML
        function Marquee3(){
        if(butong_net_left2.offsetWidth-butong_net_left.scrollLeft<=0)
        butong_net_left.scrollLeft-=butong_net_left1.offsetWidth
        else{
        butong_net_left.scrollLeft++
        }
        }
        var MyMar3=setInterval(Marquee3,speed)
        butong_net_left.onmouseover=function() {clearInterval(MyMar3)}
        butong_net_left.onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}
        </script>
        <!--向左滚动代码结束-->
        <h3><p align=center>主营项目</p></h3>
        <div class="ui middle aligned animated list">
            {% for kind in s_kind %}
                {% for ser in sers %}
                    {% if ser.service_kind == kind %}
                        <h2 class="header">{{kind.ex_ser_name}}</h2>
                        <div class="item">
                        <img class="ui small avatar image" src="/store/{{ser.icon}}">
                        <div class="content">
                            <div class="header"><font size =5><a href="../../single/{{ser.id}}">{{ser.topic}}</a></font></div>
                            <div class="description">{{ser.introduction|truncatewords:100}}</div>
                        </div>
                        <p align=right><font size=3><i class="yen sign icon"></i>{{ser.minprice}}~{{ser.maxprice}}</font></p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
              </div>
              </div>
        <p align=center><i class="text telephone icon"></i>TEL:{{com.phone}}</p>
        <p align=center>Address:{{com.adress.city_name}}</p>
        <br>


<footer>
    {% include "footer.html" %}
    </footer>
</body>	
</html>