<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Wedding Website</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/vue.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>

</head>
<body>
	<div class="banner">
		{% include "header.html" %}
		<div class="w3layouts-banner-slider">
			<div class="container">
				<div class="slider">
					<div class="callbacks_container">
						<div class="agileits-banner-info">
							<h3>Enjoy <span>your best day ever</span></h3>
							<div class="w3-button">
								<a href="../../server/0&0">More</a>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>

	{% verbatim %}
	<div id = "tab">
		<div id="shortcut directory" v-show="modal.tab" class="ui  segment" style="width: 272px !important; height: 280.531px !important;position: fixed;bottom:60px;right: 10px; padding-left: 20px;">
			<div class="another example"  >
					<div class="ui relaxed divided list"> 
					  <div class="item" v-for="server in servers">
					  </div>
					</div>
				  </div>
				</div>		
		<div style="width: 272px !important; height: 100.531px !important;position: fixed;bottom:80px;right: 10px; margin-top: 15px;" >
			<div class="ui segment" v-show="modal.intro">
				<p>Hi!我是您的新娘顾问Echo我将为您提供专业的婚礼策划咨询及预约服务，有什么可以帮您的吗？</p>
			</div>
			<div class="ui input focus" style="width:272px;position:fixed;bottom:20px;">
				<input type="text" v-model="modal.userName" >
				<a class="ui button" v-on:click="showtab()" style="width:45px !important;padding-left: 8px;">OK</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var vue = new Vue({
			el:'#tab',
			data:{
				modal:{
					intro:true,
					tab:false,
					userName:null,
					server:null,
					company:null,
					city:null,
				},
				servers:[],
				companies:[],
        cities:[],
			},
			methods:{
				showtab:function(){
						this.modal.intro=false;
						this.modal.tab=true;
				},
				getserver:function(){
					var self = this;
					reqwest({
							url:'api/getserver/',
							type:'json',
							method:'get',
							success:function(resp){
								console.log(resp);
								self.servers=resp;}
					})
				},
					getcompany:function(){
						var self = this;
						reqwest({
								url:'api/getcompany/',
								type:'json',
								method:'get',
								success:function(resp){
									console.log(resp);
									self.companies=resp;}
						})
				},
				getcity:function(){
					var self = this;
					reqwest({
							url:'api/getcity/',
							type:'json',
							method:'get',
							success:function(resp){
								console.log(resp);
								self.cities=resp;}
					})
				},
			}
		})
	</script>
	{% endverbatim %}
	<div class="posts">
		<div class="container">
			<div class="w3-agileits-heading">
				<h3>服务 <span>各种各样</span></h3>
			</div>
			<div class="posts-grids">
				<div class="ui segment ">
					<span class="left floated">{{k1.ex_ser_name}}</span>
					<span class="right floated"><a href="../../server/0&{{k1.id}}">More>></a></span>
				</div>
				{% for ser in favor1 %}
				<div class="col-md-4 w3-agile-post-grids">
					<div class="w3-agile-post-img" style="background-image:url({{ ser.icon.url }})">
						<a href="../../single/{{ser.id}}"> 
							<ul>
								<li>{{ser.create_time}}</li>
							</ul>
						</a>
					</div>
					<div class="w3-agile-post-info">
						<h4><a href="../../single/{{ser.id}}">{{ser.topic}}</a></h4>
						<p>{{ser.introduction}}</p>
					</div>
				</div>
				{% endfor %}  
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<footer>
		{% include "footer.html" %}
	</footer>
</body>	
</html>