<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Company Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
 
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="../../index/"> 婚礼时光<span></span></a>
						</h1>
					</div>
				</div>
				<div class="top-nav">
						<nav class="navbar navbar-default">
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="active" href="../../index/">Home</a></li>
									<li>
										<a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">服务<span class="caret"></span></a>
										<ul class="dropdown-menu">
                                            {% for sk in s_kind  %}
                                            <li><a class="hvr-bounce-to-bottom" href="../../server/{{site}}&{{sk.id}}">{{sk}}</a></li>
											{% endfor %}         
										</ul>
									<li class="">
										<a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">地址<span class="caret"></span></a>
										<ul class="dropdown-menu">
											{% for ct in city  %}
											<li><a class="hvr-bounce-to-bottom" href="../../server/{{ct.id}}&{{kind}}">{{ct}}</a></li> 
											{% endfor %}        
										</ul>
									</li>								
									<li class="ui right float"><a href="">login</a></li>
								</ul>	
								<div class="clearfix"> </div>
							</div>	
						</nav>		
					</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="agileinfo-top-heading">
			<h2>Blog Post</h2>
		</div>
    </div>
   <!--

-->
<div class="container">
        <div class="ui vertical horizontal segments">
                <div class="ui right aligned vertical segment">
                    <a href="">
                        <h5 class="ui large violet header center aligned inverted">
                            <i class="star outline icon"></i>我的收藏
                        </h5>
                    </a>
                </div>
                <div class="ui vertical segment">
                    <h4 class="ui large violet header center aligned inverted ">
                        <i class="gift icon"></i>我的订单
                    </h4>
                </div>
                <div class="ui left aligned vertical segment">
                    <a href="">
                        <h5 class="ui large violet header center aligned inverted">
                            <i class="user outline icon"></i>个人详情
                        </h5>
                    </a>
                </div>
            </div> 
            <font size="5"> 最近订单</font>
        <div class="ui divider"></div>
        <div class="ui inverted divided list">
            <div >
                  
                <a class="ui right ribbon label">生成日期</a>
                <div class="ui grid ">
                       
                    <div class="three wide column">
                            <img class="left floated large ui image"
                             src="{% static '/images/timg.jpg' %}">
                    </div>                           
                    <div class="nine wide column">
                        <div class="header"><font size="5">
                            主题</div></font>
                            <font color="grey">公司</font></p>
                            <font color="grey">联系方式</font></p>
                            <font color="grey">服务项目</font>
                            <a class="ui image label"> 场地 </a>
                            <a class="ui image label"> 歌手 </a>
                        </p>     
                    </div>
                    <div class="four wide column">
                        <div class="header">
                            </p></br>
                                订单号</p>
                             </p>
                                订单状态</p> 
                                <a href="">[更多]</a>          
                        </div>
                    </div>
                    <div class="three wide column">
                    </div>
                    <div class="six wide column">
                            <font size="4" color="grey"><i class="yen sign icon"></i>价格</font>
                               
                    </div> 
                    <div class="three wide column">
                            
                        </div>
                    <div class="two wide column">
                        <div class="ui icon buttons centered">
                            <div class="ui basic red button icon">
                                <i class="delete icon"></i>取消
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
        </div>
        <div>
        </div>
        <div>下一阶段</div>
        <div>取消</div>
    </div>
</div>

<footer>
    {% include "footer.html" %}
    </footer>
</body>	
</html>