<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Company Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
 
</head>
<body>
	<!-- banner -->
	<div class="banner">
        {% include "header.html" %}
		<div class="agileinfo-top-heading">
			<h2>Blog Post</h2>
		</div>
    </div>
   <!--

-->
<div>
        <div class="ui vertical horizontal segments">
                <div class="ui right aligned vertical segment">
                    <a href="../../person/">
                        <h5 class="ui large violet header center aligned inverted">
                            <i class="user outline icon"></i>个人详情
                        </h5>
                    </a>
                </div>
                <div class="ui vertical segment">
                    <h4 class="ui large violet header center aligned inverted ">
                        <i class="star outline icon"></i>我的收藏
                    </h4>
                </div>
                <div class="ui left aligned vertical segment">
                    <a href="../../person-list/">
                        <h5 class="ui large violet header center aligned inverted">
                            <i class="gift icon"></i>我的订单
                        </h5>
                    </a>
                </div>
            </div>
            <div class="ui divider"></div>
        <div class="ui vertical segment container">
                <div class="ui center aligned very padded vertical segment container">
                        <div class="ui pagination menu">
                            {% if  like_tickets.has_previous %}
                                <a href="?page={{  like_tickets.previous_page_number }}" class="item">
                                    <i class="icon red left caret"></i>
                                </a>
                            {% else %}
                                <a href="?page={{  like_tickets.start_index }}" class="disabled item">
                                    <i class="icon  left caret"></i>
                                </a>
                            {% endif %}
                
                            {% for page_number in  like_tickets.paginator.page_range %}
                                {% ifequal page_number   like_tickets.number %}
                                    <a href="?page={{ page_number }}" class="active item" style="background-color: red; color:white">
                                        {{ page_number }}
                                    </a>
                                {% else %}
                                    <a href="?page={{ page_number }}" class=" item">
                                        {{ page_number }}
                                    </a>
                                {% endifequal %}
                            {% endfor %}
                
                            {% if  like_tickets.has_next %}
                                <a href="?page={{  like_tickets.next_page_number }}" class="item">
                                    <i class="icon red right caret"></i>
                                </a>
                            {% else %}
                                <a href="?page={{  like_tickets.paginator.num_pages }}" class="disabled item">
                                    <i class="icon  right caret"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
        </div>
</div>

    <footer>
    {% include "footer.html" %}
    </footer>
</body>	
</html>