<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>single server</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/reqwest.js' %}"></script>
<script src="{% static '/js/vue.js' %}"></script>
</head>
<body>
	<div class="banner">
		{% include "header.html" %}
		<div class="agileinfo-top-heading">
			<h2>Blog Post</h2>
		</div>
	</div>
		<div class="blog">
			<div class="container">

				<div class="single">
							
						<div class="ui divided items">
								<div class="item">
									<img class="ui left large image" src="/store/{{server.icon}}">
								  <div class="content">
									  <br>
									<p><font size = 9 color=grey>{{server.topic}}</font></p>
									<br>
									<br>
									<div style="text-indent:2em;">
											<p ><font size =6>{{server.service_kind.ex_ser_name}}</font></p>
											<p ><font size =6>{{server.detail}}</font></p>
											<br>	
										</div>
									<br>
									<div class="">
											<font size=5 ><b>Tags</b></font>
											<a class="ui big light blue image label">标签1</a>
											<a class="ui big teal image label">标签2</a>
											<br>	
										</div>
										<br>
									<div class="meta">
									  <p align=right><font size = 6 color="grey"><i class="yen sign icon"></i>{{server.minprice}}</font></p>
									</div>
									<br>
									<div class="extra">
										{% if fav %}
										<a class="ui red button" href="../../single/{{server.id}}/del/single"><i class="heart icon"></i>已收藏</a>
										{% else %}
										<a class="ui button" href="../../single/{{server.id}}/put/single"><i class="heart icon"></i>收藏</a>
										{% endif %}
										<form method="post">{% csrf_token %} 
									  		<button class="ui right floated primary button">订购<i class="right chevron icon"></i> </button>
										</form>
									</div>
								  </div>
								</div>
								

							<!--悬浮窗-->
							<div style="width: 272px !important; height: 250px !important;position: fixed;bottom:80px;right: 10px; margin-top: 15px;" >
								<div class="ui segment" v-show="modal.intro">
									<center><img class="ui small avatar image" src="/store/{{company.icon}}"></center>
									<br>
									<p align=center><a href="/company/{{company.id}}">{{company.name}}</a></p>
									<p align=center><span ><span><a class="ui label pink" href="/company/{{company.id}}"> 进店逛逛 </a></span></p>
									<form method="post" >{% csrf_token %} 
										<center><button type="submit" class="ui blue button" href=""><i class="shop icon"></i>订购</button></center>
									</form>
									
									<br><br>
								</div>
							</div>
						<!--悬浮窗结束-->
						<div class="ui segment vertical padded">
							<h3>图文详情</h3>
						   </div>
						   <div class="ui basic segment">
								<div style="text-indent:2em;">
								   <p ><font size =4 color ="grey">{{server.introduction}}</font></p>
								   <br>
								   </div>
						   </div>
						   <center>
						   <div class="ui huge images">
							   {% for img in images %}
								<img src="/store/{{img.img}}">
								{% endfor %}
							  </div>
						  </center>
							<div class="clearfix"> </div>
						</div>
				</div>

			</div>
		</div>

	<footer>
		{% include "footer.html" %}
	</footer>
</body>	
</html>