<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>single server</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />
<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
 
</head>
<body>
	<div class="banner">
		{% include "header.html" %}
		<div class="agileinfo-top-heading">
			<h2>Blog Post</h2>
		</div>
	</div>
		<div class="blog">
			<div class="container">

				<div class="single">
							
						<div class="ui divided items">
								<div class="item">
									<img class="ui left large image" src="{% static '/images/2.jpg' %}">
								  <div class="content">
									  <br>
									<p><font size = 9 color=grey>婚纱租借</font></p>
									<br>
									<br>
									<div style="text-indent:2em;">
											<p ><font size =6>对商品的具体描述</font></p>
											<p ><font size =6>商品参数</font></p>
											<br>	
										</div>
									<br>
									<div class="">
											<font size=5 ><b>Tags</b></font>
											<a class="ui big light blue image label"> 婚纱</a>
											<a class="ui big teal image label">租借</a>
											<br>	
										</div>
										<br>
									<div class="meta">
									  <p align=right><font size = 6 color="grey"><i class="yen sign icon"></i>价格</font></p>
									</div>
									<br>
									<div class="extra">
											<div class="ui button"><i class="heart icon"></i>收藏</div>
									  <div class="ui right floated primary button">订购<i class="right chevron icon"></i> </div>
									</div>
								  </div>
								</div>
								

							<!--悬浮窗-->
							<div style="width: 272px !important; height: 250px !important;position: fixed;bottom:80px;right: 10px; margin-top: 15px;" >
								<div class="ui segment" v-show="modal.intro">
									<center><img class="ui small avatar image" src="{% static '/images/logo.jpg' %}"></center>
									<br>
									<p align=center><a href="/company">公司名</a></p>
									<p align=center><span ><span><a> 进店逛逛 </a></span></p>
									<center><button class="ui button" onclick="shopping"><i class="shop icon"></i>订购</button></center>
									<br><br>
								</div>
							</div>
						<!--悬浮窗结束-->
						<div class="ui segment vertical padded">
							<h3>图文详情</h3>
						   </div>
						   <div class="ui basic segment">
								<div style="text-indent:2em;">
								   <p ><font size =4 color ="grey">秦皇岛领尚文化传播有限公司是一家具有高水平、硬技术的专业文化传播公司。
									   公司集构思、策划、宣传、执行于一体，对外开展：大型会议及会展服务、综艺演出、各类庆典、企业年会、商业策划。
									   同时公司还经营：拍摄宣传片、广告片、艺术类艺员培训、组织各类赛事、艺人推广、文化交流活动、演出设备租赁等项目。
									   并与国内各知名演艺人员保持良好合作关系，与多家网络、杂志、媒体、电视栏目、影视剧组、企事业单位有长期合作。</font></p>
								   <br>
								   </div>
						   </div>
						   <center>
						   <div class="ui huge images">
								<img src="{% static '/images/f1.jpg' %}">
								<img src="{% static '/images/2.jpg' %}">
								<img src="{% static '/images/AFGiQHnBZnbJDXFcnZhmrJSeEZj2ZGSd.jpg' %}">
							  </div>
						  </center>
							<div class="clearfix"> </div>
						</div>
				</div>
				<!-- //single -->
			</div>
		</div>
		<!-- // Blog -->
	<!-- footer -->
	<footer>
		{% include "footer.html" %}
	</footer>
</body>	
</html>